/* custom css */
:root {
    --bs-primary-text-emphasis: #6ea8fe;
    --bs-primary-bg-subtle: #031633;
    --bs-primary-border-subtle: #084298;
}
:root:not([data-theme=dark]),[data-theme=light] {
    --bs-primary-text-emphasis: #052c65;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-primary-border-subtle: #9ec5fe;
}
code {
    word-break:break-all;
}
pre > code {
    color: #f8f8f2;
    word-break:normal;
}
.alert {
    margin-bottom: var(--pico-block-spacing-vertical);
    padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
    border-radius: var(--pico-border-radius);
    background: var(--pico-card-background-color);
    box-shadow: var(--pico-card-box-shadow);
}
.alert .alert-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .3rem;
}
.alert-note {
    background-color: var(--bs-primary-bg-subtle);
    border: thin solid var(--bs-primary-border-subtle);
}
.alert-note .alert-icon {
    color: var(--bs-primary-text-emphasis);
}
.alert-note a {
    color: var(--bs-primary-text-emphasis);
}
