<!DOCTYPE html>
<html lang="ja" data-theme="dark">
<head>
    <script>(function(){document.documentElement.dataset.theme=window.matchMedia("(prefers-color-scheme: dark)").matches?"dark":"light"})()</script>
  {{ partial "head.html" . }}
</head>
<body>
  <header class="container" style="max-width:40rem;">
    {{ partial "header.html" . }}
  </header>
  <main class="container" style="max-width:40rem;">
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="container" style="max-width:40rem;">
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>

